<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
      <h1>ABI app homepage: </h1>
      <h3>Select Province and date: </h3>
      <form id='form1' method ="POST" action ="/">

      <select id='mySelect' name=provinces method="GET">
          {% for province in provinces %}
          <option value="{{province}}" SELECTED>{{province}}</option>
          {% endfor %}

      </select>
      <input type="date" id="date" name="date">
      <input type='submit' value='submit'>
      </form>
  </body>

</html>
