<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
      <h1> There were no records to show based on your selections</h1>
      <h3> The date you entered was {{date}} </h3>
      <h3> The province you selected was {{province}} </h3>

  </body>

</html>
